:root {
  --font-family: 'Roboto Mono', monospace;
  --font-color-main: #000000;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--font-color-main, black);
  font-family: var(--font-family, monospace);
  font-weight: var(--font-weight-normal, normal);
  font-size: 2rem;
}

label, p, button {
  font-size: inherit;
}

h1, h2, h3, p, label {
  padding: 0;
  margin: 0;
}

.field-input, .field-select, .field-textarea {
  display: flex;
  flex-direction: column;
}

.field, .field-group {
  margin-bottom: 1.5rem;
}

.field-group .field-radio, .field-group .field-checkbox {
  margin-bottom: 0;
}

.field-input input, .field-select select, .field-textarea textarea {
  height: 45px;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.field textarea {
  resize: none;
  min-height: 100px;
}

.content, .header {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.header {
  text-align: center;
}