:root {
  --font-family: 'Roboto Mono', monospace;
  --font-color-main: #000000;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --color-main: #000000;
  --color-secondary: #ffffff;
  --color-brand: #673ab7;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--font-color-main, black);
  font-family: var(--font-family, monospace);
  font-weight: var(--font-weight-normal, normal);
  font-size: 2rem;
}

label, p, button {
  font-size: inherit;
}

h1, h2, h3, p, label {
  padding: 0;
  margin: 0;
}

.field-input, .field-select, .field-textarea {
  display: flex;
  flex-direction: column;
}

.field, .field-group, .submit-button {
  margin-top: 2.5rem;
}

.field-group .field-radio, .field-group .field-checkbox {
  margin-top: 0;
}

.field-input input, .field-select select, .field-textarea textarea {
  height: 45px;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-left: none;
  border-right: none;
  border-top: 0;
  outline: none;
  border-bottom: 0.1rem solid var(--color-main, black);
  box-shadow: none;
}

.field-input input:focus, .field-textarea textarea:focus, .field-select select:focus {
  border-bottom: 0.2rem solid var(--color-brand, indigo);
}

.field-input, .field-textarea, .field-select {
  margin-top: 0.5rem;
  padding-top: 2rem;
  position: relative;
}

.field-input label, .field-textarea label, .field-select label {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  height: auto;
  background: var(--color-secondary, white);
  left: 0;
  right: 0;
  top: 1.5rem;
  bottom: 0.1rem;
  transition: top 0.3s, bottom 0.3s, font-size 0.3s;
}

.field-textarea label, .field-select select:focus ~ .field-select-icon {
  bottom: 0.2rem;
}

.field-textarea label {
  align-items: flex-start;
}

.field-input.active label, .field-textarea.active label, .field-select.active label {
  color: var(--color-brand, indigo);
  top: 0;
  bottom: auto;
  padding: 0.4rem 0.5rem 0 0.5rem;
  font-size: 1.2rem;
  background: transparent;
}

.field-select-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-secondary, white);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45px;
  width: 45px;
  position: absolute;
  z-index: 1;
  right: 0rem;
  bottom: 0.1rem;
  pointer-events: none;
}

.field-select-icon img {
  width: 3rem;
  height: 3rem;
}

.field textarea {
  resize: none;
  min-height: 10rem;
  font-size: inherit;
  font-family: inherit;
}

.content, .header {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  color: var(--color-secondary, white);
  background-color: var(--color-brand, indigo);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  line-height: 3.6rem;
  font-size: 1.4rem;
  padding: 0 1.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}